[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pylint = "*"
rope = "*"
black = "==19.3b0"

[packages]
aiohttp = "*"
beautifulsoup4 = "*"
aiostream = "*"
tqdm = "*"
colorama = {version = "*",sys_platform = "== 'win32'"}
google-api-python-client = "*"
oauth2client = "*"
google-auth-oauthlib = "*"

[requires]
python_version = "3.7"
